* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*for header */
.header {
  overflow: hidden;
  background-color: #1b1919;
  padding: 20px 10px;
  
}

.header a {
  float: left;
  color: rgb(246, 242, 242);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(193, 169, 169);
  color: black;
}
.header-right {
  float: right;
}
.divv{
  height: 700px;
  width: 100%;
  background-image: url("image1/backgroundpic.jpg");
    background-color: rgb(43, 92, 92);
}

/* for search bar  */

#myInput {
  margin-left: 300px;
  margin-right: 300px;
  
  background-image: url("https://www.shutterstock.com/image-vector/magnifier-icon-vector-eps-10-1355978339"); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 50%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; 
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.div3{
  margin-left: 30px;
  margin-left: 75px;
  margin-right: 75px;
  width: 90%;
  height: 700px;
  /*background-color: rgb(229, 229, 129);*/
  
}

/*@media screen and (max-width: 100px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}*/

